
body{
    width: 100vw;
}

.nearestPlaces{

   overflow: auto;
    width: 30%;
    height: 50vh;
    overflow-y: auto;
}
.bottom{
    display: flex;
    overflow-y: auto;
}
.news{
    background-color: cadetblue;
    width: 70%;
    overflow: auto;
    height: 50vh;
}

.comments{
    background-color: bisque;
    width: 50%;
    overflow: auto;
    height: 50vh;
}
.rentrate{
    
    width: 50%;
}
.login-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .login-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .login-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }